@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600);

button,
input,
optgroup,
select,
textarea {
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}

:root {
  min-width: 320px;
  width: 100vw;
  height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
}

body {
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  line-height: 1;
  letter-spacing: normal;
}
